<body ng-app="elasticsearch">
  <div class="container margin-top margin-bottom">
    <div class="row margin-bottom-small">
      <div class="col-md-12">
        <form #searchForm="ngForm" (ngSubmit)="search()">
          <div class="input-group">
            <input class="form-control" autofocus type="text" placeholder="Search for..." [(ngModel)]="query" name="query">
            <span class="input-group-btn">
              <button class="btn btn-default btn-search" type="submit">
                Search
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="row" *ngIf="total != null">
      <div class="col-md-12">
        <!-- <div ng-show="suggested.length > 0">
          <h4>Did you mean?</h4>
          <ul class="sugestion-list">
            <li ng-repeat="item in suggested">
              <a ng-click="">{{item}}</a>
            </li>
          </ul>
        </div> -->
        <h4 *ngIf="total > 0">Found
          <b>{{total}}</b> posts in
          <b>{{took}}</b> ms.</h4>
        <!-- <h4 ng-show="message">{{message}}</h4> -->
      </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-xs-3">
            <div *ngIf="total > 0">
                <h4>Posts by tag</h4>
                <ul class="category-list">
                    <li *ngFor="let tag of aggKeys">
                        <span ng-class="{'label-primary label': isActive(tag)}">
                            <a (click)="toggleFilters(tag)">{{tag}}</a>
                        </span><small class="pull-right"> ({{getValue(tag)}})</small>
                    </li>
                </ul>
            </div>
        </div>
      <div class="col-sm-9 col-sm-offset-1">
        <ng-template ngFor let-result [ngForOf]="results" *ngIf="!isLoading">
          <div class="row margin-bottom-small">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <a (click)="selectPost(result.id)">
                    <h3>{{result.title}}</h3>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>{{result.body}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <ng-template ngFor let-tag [ngForOf]="result.tags">
                    <span class="badge badge-primary">{{tag}}
                    </span>
                  </ng-template>
                </div>
                <div class="col-md-4 text-right">
                  <span class="label label-info label-round">{{result.creationDate}}</span>
                </div>
                <!-- <div class="col-md-4 text-right">
                <small>Votes:
                  <span class="label label-info label-round">{{item.Score}}</span>
                </small>
                <small>Answers:
                  <span class="label label-info label-round">{{item.AnswerCount}}</span>
                </small>
              </div> -->
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</body>
